.menu {
  width: 250px;
  height: calc(100vh - 70px);
  margin-top: 70px;
  background: #eff0f5;
  color: #4b5e63;
  position: fixed;
  top: 0;
  right: -250px;
  transition: all 0.4s ease;
  opacity: 0;
  z-index: 100;
  .menu-wrapper {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;

    ul {
      li {
        margin: 20px 0;

        cursor: pointer;

        a {
          text-decoration: none;
          color: #4b5e63;
          font-size: 18px;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &.active {
    right: 0px;
    opacity: 1;
  }
}
