.admin {
  margin-top: 70px;

  .login-form {
    width: 100vw;
    height: 100vh;
    padding-top: 10%;

    form {
      width: 300px;
      margin: auto;
      padding: 30px;
      background-color: #627e86;
      input {
        margin: 10px 0;
        width: 90%;
      }
    }
  }
}
