.adminProductList {
  .container {
    .card-list {
      padding: 20px;
      .card-item {
        width: 100%;
        height: 170px;
        background-color: #eff0f5;
        padding: 0px;
        margin: 10px 0;
        border-radius: 5px;

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 140px;
            border-radius: 3px;
          }
        }
        .description {
          padding-top: 10px;

          .price {
            .sale-price {
              color: #ff2b55;
            }
            .regular-price {
              font-size: 14px;
              .price {
                text-decoration: line-through;
              }
            }
          }
        }
        .control {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          i {
            font-size: 30px;
            margin: 13px 0;
            cursor: pointer;
            &.fa-pen-to-square {
              color: #08b008;
            }

            &.fa-trash-can {
              color: #ff2b55;
            }
          }
        }
      }
    }
  }
}
